@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
    /* color: var(--dark); */
}

:root {
    /* color */
    --basic: #fff;
    --dark: #131B23;
    --grey: #d3cacf;
    --penn-blue: #001c55;
    --royal-blue:#0A2472;
    --bice-blue: #0e6ba8;
    --pearl: #e7dfc6;
    /* font-weight */
    --fw-1: 100; /* Thin */
    --fw-2: 200; /* Extralight */
    --fw-3: 300; /* Light */
    --fw-4: 400; /* Reguler */
    --fw-5: 500; /* Medium */
    --fw-6: 600; /* Semi-bold */
    --fw-5: 500; /* Bold */
}

.container {
    margin: auto;
    width: 90%;
    height: 100%;
    position: relative;
}

.row {
    width: 100%;
    height: 100%;
}

/* Default Display Flex */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Default Display Grid */
.d-grid {
    display: grid;
    place-items: center;
    gap: 1em;
}

.mark {
    color: var(--bice-blue);
}

