/* Nav */

nav {
  position: sticky;
  top: 0;
  background: var(--basic);
  z-index: 1000;
  border-bottom: .5px solid var(--grey);
  color: var(--dark);
}

nav .logo {
  padding: 1em 0;
}

nav a {
  color: var(--dark);
}

nav .navbar {
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1em; */
  position: absolute;
  top: 4em;
  right: 0;
  transition: .5s;
  height: 0;
  opacity: 0;
  background-color: var(--basic);
  border: .5px solid var(--grey);
  overflow: hidden;
  border-radius: .5em;
}

nav .navbar.active {
  height: auto;
  opacity: 1;
}

nav .navbar a {
  justify-content: flex-start;
  align-items: center;
  gap: .8em;
  width: 100%;
  padding: 1em 2em;
  color: var(--dark);
}

nav .navbar a:hover {
  background-color: var(--bice-blue);
  color: var(--basic);
}

/* ENd Nav */

/* Hero */

#hero {
  height: 500px;
  margin-top: 1em;
}

#hero .col {
  flex: 0 0 50%;
  justify-content: center;
  height: 100%;
  background: var(--bice-blue);
  color: var(--basic);
}

#hero .imgPreview {
  background: url(../img/villa-gunung-gelis/1.jpeg) no-repeat center center/cover;
  height: 100%;
}

#hero figcaption {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

#hero figcaption a {
  margin-top: 1em;
  padding: 1em 2em;
  width: 100%;
  border: 2px solid var(--basic);
  color: var(--basic);
  font-weight: 600;
}

#hero a.mainBtn {
  background: var(--basic);
  color: var(--bice-blue);
}

/* End Hero */

/* Card Villa */

#cardVilla {
  margin: 2em 0;
}

#cardVilla .cardText {
  text-align: center;
  margin: 1em 0;
}

#cardVilla .filter {
  display: none;
}

#cardVilla .filter button {
  padding: .8em;
  border: none;
  border-bottom: 1px solid black;
}

#cardVilla .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin: 2em 0;
}

#cardVilla .card {
  width: 100%;
  background: var(--basic);
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
  transition: .5s;
}

#cardVilla .card img {
  border-radius: .5em;
  width: 100%;
  height: 300px;
}

#cardVilla .card figcaption {
  text-align: left;
  font-size: .9rem;
}

#cardVilla .card figcaption:not(.villaName) {
  color: grey;
}

#cardVilla .card figcaption .villaName, .villaPrice {
  font-weight: 500;
  color: var(--dark);
}




/* End Card Villa */

/* Responsive */
