/* Nav */

nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav a {
  padding: 1em 0;
  color: var(--dark);
}

nav .menu {
  width: 60%;
}

nav .hamBtn {
  display: none;
}

/* end nav */

/* jumbotron */

#jumbotron {
  text-align: center;
  padding: 3em 0;
}

#jumbotron .row {
  overflow: hidden;
  margin: 3em 0;
  padding: 2em 0;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.815) 0%, rgba(9, 9, 121, 0.801) 35%, rgba(20, 20, 20, 0.89) 100%), url(../img/villa-gunung-gelis/jp1.jpeg) no-repeat;
  background-position: center;
  border-radius: 1em;
  overflow: hidden;
  color: var(--basic);
}

#jumbotron .content {
  padding: 1em;
  margin: 1em 0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.822); */
  color: var(--basic);
}

#jumbotron .content figcaption{
  text-align: left;
  padding: 2em;
  position: relative;
}

#jumbotron .content figcaption::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 10px;
  left: 15px;
}

#jumbotron .col {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#jumbotron .col img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

#jumbotron .cta-btn {
  margin-top: 1em;
  gap: 1em;
  justify-content: center;
  font-weight: var(--fw-5);
}

#jumbotron .cta-btn .light-btn {
  display: block;
  padding: .5em 1.5em;
  border: 2px solid var(--royal-blue);
  color: var(--royal-blue);
}

#jumbotron .cta-btn .solid-btn {
  padding: .5em 1.5em;
  font-weight: var(--fw-5);
  background-color: var(--royal-blue);
  border: 2px solid var(--royal-blue);
  color: var(--basic);
}



/* end jumbotron */

/* Responsive */
/* Tablet View */
@media screen and (max-width: 600px) {
  /* nav */
  nav {
    padding: 1em 0;
  }

  nav .menu {
    max-width: 200px;
    flex-direction: column;
    position: absolute;
    top: 2.5em;
    right: 0;
    display: none;
    transition: .3s ease-in-out;
    align-items: flex-start;
    border: 1px solid var(--grey);
    border-radius: .5em;
    overflow: hidden;
    background-color: var(--basic);
  }

  nav .menu a {
    width: 100%;
    padding: 1em;
  }

  nav .menu a:hover {
    background-color: var(--grey);
  }

  nav .menu.active {
    display: flex;
  }

  nav .hamBtn {
    display: block;
  }
}