/* Nav */

nav {
  position: sticky;
  top: 0;
  background: var(--basic);
  z-index: 1000;
  border-bottom: .5px solid var(--grey);
  color: var(--dark);
}

nav .logo {
  padding: 1em 0;
  font-weight: var(--fw-5);
}

nav a {
  color: var(--dark);
}

nav .navbar {
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1em; */
  position: absolute;
  top: 4em;
  right: 0;
  transition: .5s;
  height: 0;
  opacity: 0;
  background-color: var(--basic);
  border: .5px solid var(--grey);
  overflow: hidden;
  border-radius: .5em;
}

nav .navbar.active {
  height: auto;
  opacity: 1;
}

nav .navbar a {
  justify-content: flex-start;
  align-items: center;
  gap: .8em;
  width: 100%;
  padding: 1em 2em;
  color: var(--dark);
}

nav .navbar a:hover {
  background-color: var(--bice-blue);
  color: var(--basic);
}

/* ENd Nav */

/* Hero */

#hero {
  height: 300px;
  text-align: center;
}

#hero .container {
  justify-content: center;
}

/* End Hero */

/* Card Villa */

#villa .card img {
  width: 100%;
}

#villa .row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

#villa .card-price {
  align-items: flex-start;
}

/* End Card Villa */

/* Rental Car */

#rental {
  margin: 2em 0;
}

#rental .row {
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

#rental .row .col {
  width: 100%;
  /* border: 1px solid black; */
}

#rental .rental__card {
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1em;
  padding: 1em;
  overflow-x: scroll;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
}

#rental .rental__card::-webkit-scrollbar {
  display: none;
}

.rental__card .car-card {
  padding: 1em;
  flex: 0 0 250px;
  height: 300px;
  border: .5px solid var(--grey);
}

/* Responsive */

@media screen and (max-width: 762px) {
  nav .navbar {
    top: 3em;
  }

  #hero {
    position: relative;
    margin: 0;
    text-align: center;
    font-size: 80%;
  }

  #hero .container {
    width: 100% !important;
  }

  #hero .row .col:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #hero figcaption {
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    gap: 0;
  }

  #hero figcaption a:first-child {
    grid-row: 2;
  }

  #hero .row .col {
    flex: 0 0 100%;
    background-color: rgba(14, 106, 168, 0.836);
  }

  #hero .imgPreview {
    background-attachment: fixed;
  }

  #cardVilla .row {
    grid-template-columns: 1fr;
  }

  /* Rental Car */

  #rental .row {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .rental__card .car-card {
    padding: 1em 0;
  }
  
}


